<div class="login-box">
  <div class="login-logo">
    <%= link_to(content_tag(:b, 'Maxwell'), root_url) %>
  </div>

  <div class="login-box-body">
    <p class="login-box-msg">Resend unlock instructions</p>
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group has-feedback">
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email', autofocus: true %>
        <%= icon('envelope', nil, class: 'form-control-feedback') %>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= f.submit "Resend unlock instructions", class: 'btn btn-primary btn-block btn-flat' %>
        </div>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
