<header class="main-header">
  <%= link_to content_tag(:b, 'Maxwell'), root_url, class: 'logo' %>
  <nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag avatar_url(current_user), class: 'user-image', alt: 'avatar' %>
            <span class="hidden-xs"><%= current_user.email %></span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <%= image_tag avatar_url(current_user, 512), class: 'img-circle', alt: 'avatar' %>
              <p>
                <%= current_user.email %>
                <small>Member since <%= l(current_user.created_at.to_date, format: :month_year) %></small>
              </p>
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <%= link_to 'Account', edit_user_registration_path, class: 'btn btn-default btn-flat' %>
              </div>
              <div class="pull-right">
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-default btn-flat' %>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
